{%load static %}
{% load socialaccount i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'favicon/favicon.ico' %}"
      type="image/x-icon"
    />

    <!-- core:css -->
    <link rel="stylesheet" href="{% static 'vendors/core/core.css' %}" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}"
    />
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{% static 'fonts/feather-font/css/iconfont.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/sweetalert2/sweetalert2.min.css' %}"
    />

    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/backoffice/style.min.css' %}" />
    <!-- End layout styles -->

    <link rel="stylesheet" href="{% static 'css/backoffice/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <!-- Alpine.js -->
    <script defer src="{% static 'js/alpine.min.js' %}"></script>

    <style>
      .card-header {
        padding: 5px;
      }

      .empty_form {
        display: none;
      }
      
      #page-bg {
        position: relative;
      }

      #page-bg::after {
        content: "";
        background: url("{% static 'images/page_bg.jpg' %}");
        width: 100%;
        height: 100%;
        opacity: 0.7;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
      }

      #img-left {
        background: #3046c7;
        opacity: 0.5;
      }

    </style>
    <title>{% block title %}Login{% endblock title %} | {% trans "Greencurve Securities" %} </title>
  </head>
  <body>

    <div  class="main-wrapper">
        <div id="page-bg" class="page-wrapper full-page">
        <div  class="page-content d-flex align-items-center justify-content-center">
          <div class="row w-100 mx-0 auth-page">
            <div class="col-md-8 col-xl-6 mx-auto">
              <div class="card">
                <div class="row">
                  <div class="col-md-2 pr md-0">
                    <div id="img-left" class="auth-left-wrapper"></div>
                  </div>
                  <div class="col-md-10 pl-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                      {% block content %}
                      {% endblock content %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>

    <!-- core:js -->
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'vendors/core/core.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/jquery.flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendors/jquery.flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/sweetalert2/sweetalert2.min.js' %}"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>

    <!-- htmx -->
    <script src="{% static 'js/htmx.min.js' %}"></script>

    <!-- end custom js for this page -->

    <!-- Sweet Alert notification -->
    <script>
    // Display messages from server as status messages.
    {% if messages %}
        {% for message in messages %}
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: '{{ message.level_tag|safe }}',
                title: '{{ message|safe }}'
            })
        {% endfor %}
    {% endif %}
    </script>
    <!-- Sweet Alert notification end -->

    <script>
        document.addEventListener('DOMContentLoaded', function (event) {

          // Adding CSRF token to HTMX post requests (DO NOT DELETE THIS).
          document.body.addEventListener("htmx:configRequest", (event) => {
            event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
          });

          // Add Extra formset
          const addForm = (e) => {
            const el = e.target.parentElement;

            const total_forms = el.querySelector("input[name*='TOTAL_FORMS']");

            let no_of_forms = parseInt(total_forms.value) + 1;

            // const regex = /\d+/
            const regex = RegExp(/__prefix__/, "g");

            total_forms.value = no_of_forms;

            let clone_target_el = el.querySelector(".empty_form");

            const HR = document.createElement("hr");

            let newForm = clone_target_el.cloneNode(true);

            newForm.classList.remove("empty_form");
            newForm.classList.add("mt-2");

            newForm.innerHTML = newForm.innerHTML.replace(
              regex,
              `${no_of_forms - 1}`
            );

            el.insertBefore(newForm, e.target);
            newForm.insertAdjacentElement("beforeBegin", HR);
          };

          // HTMX Trigger for updating the table when changes in db.
          document.body.addEventListener("update-table", () => {
            htmx.trigger("#table_card", "update-table");
          });
            
        $('#companyCreateModal').on('show.bs.modal', (e) => {
          htmx.trigger('#trigger_create_get', 'show.bs.modal')
        })
        htmx.logAll();
        });
    </script>
    <div x-data='{ data: "" }' @auth-modal-invoke.window="data= $event.detail"
         id="companyCreateModal"
         tab-index="-1" data-backdrop="static" data-keyboard="false"
         aria-labelledby="companyCreateModal" aria-hidden="true"
         class="modal fade"
    >
       <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authModalTitle" x-text="data.title"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modal_contents">
                    </div>
                    <span id="trigger_create_get" hx-trigger="show.bs.modal" hx-target="#modal_contents" hx-swap="outerHTML"></span>
                    <span class="htmx-indicator spinner-border text-info d-flex justify-content-center" role="status">
                        <span class="sr-only">Loading...</span>
                    </span>
                </div>
            </div>
       </div>
   </div>   
  </body>
</html>
 
