{% extends 'account/auth_base.html' %}

{% block content %}
<h5 class="noble-ui-logo font-weight-normal mb-4">Welcome back! Login to your account</h5>

<form action="." method="post">
    {% csrf_token %}
    {{ form }}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Log In</button>
    </div>
</form>
{% endblock %}
