{% extends '../../backoffice_base.html' %}
<!-- Custom Style -->
{% block custom_style %}
<style>
  .order-card {
    color: #fff;
  }

  .bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
  }

  .bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
  }

  .bg-c-yellow {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
  }

  .bg-c-pink {
    background: linear-gradient(45deg, #ff5370, #ff869a);
  }

  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 25px;
  }

  .order-card i {
    font-size: 26px;
  }

  .f-left {
    float: left;
  }

  .f-right {
    float: right;
  }
</style>
{% endblock custom_style %}

<!-- -->
{% block title %}Orders{% endblock title %}

<!-- -->
{% block content %}
<h3>Orders</h3>
<br />
<!-- Information Cards -->
<div class="row">
  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-yellow order-card">
      <div class="card-block">
        <h3 class="m-b-20">Pending Orders <span class="f-right">{{ pending_orders_count }}</span> </h3>
        {% comment %} <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> {% endcomment %}
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-pink order-card">
      <div class="card-block">
        <h3 class="m-b-20">Order Placed <span class="f-right">{{ placed_orders_count }}</span> </h3>
        {% comment %} <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> {% endcomment %}
      </div>
    </div>
  </div>

  
  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-blue order-card">
      <div class="card-block">
        <h3 class="m-b-20">Bracket Orders <span class="f-right">{{ bracket_order_count }}</span> </h3>
        {% comment %} <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> {% endcomment %}
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-green order-card">
      <div class="card-block">
        <h3 class="m-b-20">Market Orders <span class="f-right">{{ market_order_count }}</span> </h3>
        {% comment %} <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<!-- Information Cards -->

<!-- Create Order collapse button -->
<button
  class="btn btn-primary"
  type="button"
  data-toggle="collapse"
  data-target="#collapseExample"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  Create Order
</button>
<!-- Create Order collapse button -->
<br />

<!-- Create Order Form -->
<div class="collapse" id="collapseExample">
  <div class="card mt-2">
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        <!-- Form -->
        {% comment %} {{ form }} {% endcomment %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}
        <br />
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- Create Order Form -->
<br />
<div class="card">
  <div class="card-body">
    <h4 class="card-header">All Orders</h4>
    <br />
    <div class="table-responsive">
      {% include 'backoffice/tables/orders/order_table.html' %}
    </div>
  </div>
</div>

{% endblock content %}
