{% extends '../backoffice_base.html' %}
<!-- Custom Style -->
{% block custom_style %}
<style>
  .order-card {
    color: #fff;
  }

  .bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
  }

  .bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
  }

  .bg-c-yellow {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
  }

  .bg-c-pink {
    background: linear-gradient(45deg, #ff5370, #ff869a);
  }

  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 25px;
  }

  .order-card i {
    font-size: 26px;
  }

  .f-left {
    float: left;
  }

  .f-right {
    float: right;
  }
</style>
{% endblock custom_style %}

<!-- -->
{% block title %}Home{% endblock title %}

<!-- -->
{% block content %}
<h3>Hello {{ request.user.first_name }} {{ request.user.last_name }}! 👋</h3>
<br />
<div class="row">
  <div class="col-md-6 col-xl-6">
    <div class="card bg-c-blue order-card">
      <div class="card-block">
        <h3 class="m-b-20">Orders Received <span class="f-right">{{ order_count }}</span> </h3>
        {% comment %} <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> {% endcomment %}
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-6">
    <div class="card bg-c-green order-card">
      <div class="card-block">
        <h3 class="m-b-20">Users Registered <span class="f-right">{{ user_count }}</span> </h3>
        {% comment %} <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> {% endcomment %}
      </div>
    </div>
  </div>

  {% comment %}
  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-yellow order-card">
      <div class="card-block">
        <h6 class="m-b-20">Orders Received</h6>
        <h2 class="text-right">
          <i class="fa fa-refresh f-left"></i><span>486</span>
        </h2>
        <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-pink order-card">
      <div class="card-block">
        <h6 class="m-b-20">Orders Received</h6>
        <h2 class="text-right">
          <i class="fa fa-credit-card f-left"></i><span>486</span>
        </h2>
        <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
      </div>
    </div>
  </div>
  {% endcomment %}
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-12">
          <h5 class="card-title text-danger">Recent Orders</h5>
          <hr />
          <div class="table-responsive">
            {% include 'backoffice/tables/orders/order_table.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-danger">Unverified Mobile Numbers</h5>
        <hr />
        <div class="table-responsive">
          {% include 'backoffice/tables/mobiles/unverified_mobilenumber_table.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-danger">Unverified Emails</h5>
        <hr />
        <div class="table-responsive">
          {% include 'backoffice/tables/emails/unverified_email_table.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
