{% load static %}
<!-- -->
{% load custom_tags %}
<!-- -->
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      href="{% static 'favicon/favicon.ico' %}"
      type="image/x-icon"
    />

    <!-- core:css -->
    <link rel="stylesheet" href="{% static 'vendors/core/core.css' %}" />

    <link rel="stylesheet" src="{% static 'vendors/select2/select2.min.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}"
    />
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{% static 'fonts/feather-font/css/iconfont.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/sweetalert2/sweetalert2.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendors/jquery-tags-input/jquery.tagsinput.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/dropzone/dropzone.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/dropify/dist/dropify.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap-colorpicker/bootstrap-colorpicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">


    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/backoffice/style.min.css' %}" />
    <!-- End layout styles -->

    <link rel="stylesheet" href="{% static 'css/backoffice/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    {% comment %} <!-- Alpine.js -->
    <script defer src="{% static 'js/alpine.min.js' %}"></script> {% endcomment %}

    <link rel="stylesheet" href="{% static 'vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" />

    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/dropzone/dropzone.min.css' %}" />

    <style>
      .card-header {
        padding: 5px;
      }

      .empty_form {
        display: none;
      }

      select {
        color: #4d4d4d;
      }
    </style>

    {% block custom_style %}{% endblock custom_style %}

    <title> {% block title %} {% endblock title %} |
    {% if company.name %}
      {{ company.name }}
    {% else %}
      BackOffice
    {% endif %}
    </title>
  </head>
  <body>

    {% block company_select %}
    {% endblock company_select %}
    <div class="main-wrapper">
      <!--  partial:partials/_sidebar.html -->
      {% include 'partials/_sidebar.html' %} 
      <!-- END ** partial:partials/_sidebar.html ** END -->

      <div class="page-wrapper">
        <!-- partial:partials/_navbar.html -->
        {% include 'partials/_navbar.html' %}
        <!-- END ** partial:partials/_navbar.html ** END -->

        <div id="click_element" class="page-content">
          {% block content %} {% endblock content %}
        </div>
      </div>
    </div>
   

    <!-- core:js -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/backoffice/main.js' %}"></script>
    <script src="{% static 'vendors/core/core.js' %}"></script>
    <!-- endinject -->
    <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <!-- plugin js for this page -->
    <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendors/chartjs/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/jquery.flot/jquery.flot.js' %}"></script>
    <script src="{% static 'vendors/jquery.flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendors/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendors/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
    <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/sweetalert2/sweetalert2.min.js' %}"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'vendors/dropzone/dropzone.min.js' %}"></script>
    <script src="{% static 'vendors/inputmask/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>

    <!-- htmx -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/backoffice/custom.js' %}"></script>
    <!-- <script src="{% static 'js/backoffice/admin_fund_updates.js' %}"></script> -->
    <script src="{% static 'js/backoffice/order_notifications.js' %}"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.4"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/backoffice/admin_notifications.js' %}"></script>

    <!-- end custom js for this page -->
    <!-- Sweet Alert notification -->
    <script>
    // Display messages from server as status messages.
    {% if messages %}
        {% for message in messages %}
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
              icon: '{{ message.level_tag|safe }}',
              title: '{{ message|safe }}'
            })
        {% endfor %}
    {% endif %}
    </script>
    <!-- Sweet Alert notification end -->

    <script>
        // Adding CSRF token to HTMX post requests (DO NOT DELETE THIS).
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });

        // Add Extra formset
        const addForm = (e) => {
          const el = e.target.parentElement;

          const total_forms = el.querySelector("input[name*='TOTAL_FORMS']");

          let no_of_forms = parseInt(total_forms.value) + 1;


          // const regex = /\d+/
          const regex = RegExp(/__prefix__/, 'g');

          total_forms.value = no_of_forms;

          let clone_target_el = el.querySelector('.empty_form')

          const HR = document.createElement('hr')

          let newForm = clone_target_el.cloneNode(true);

          newForm.classList.remove('empty_form')
          newForm.classList.add('mt-2');

          newForm.innerHTML = newForm.innerHTML.replace(regex, `${no_of_forms - 1}`)

          el.insertBefore(newForm, e.target)
          newForm.insertAdjacentElement('beforeBegin', HR);
        }

        // HTMX Trigger for updating the table when changes in db.
        document.body.addEventListener('update-table', () => {
          htmx.trigger('#table_card', 'update-table')
        })

      </script>
      {% block custom_script %}{% endblock custom_script %}
  </body>
</html>
