{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- https://boclient.anandrathi.in/cgi-bin/default.asp -->
  <!-- #e9be3b #e6b827 (okay) #d4af37 -->

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R93ZQX33LB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R93ZQX33LB');
    </script>

    <link
      rel="icon"
      href="{% static 'favicon/favicon.ico' %}"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Greencurve Securities</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Plugin CSS -->
    <link
      href="{% static 'vendor/magnific-popup/magnific-popup.css' %} "
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <!--<div id='bizzbar'>
      <p class='bizztext'>Coming soon to Chennai & Muscat | Get 10% discount on our services using promo code VAXA10 <button class='bizzbutton' href="#contact">Click here</button></p>
      <close></close>
    </div>
    <open></open>-->

  <body id="page-top">
    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <!--<a class="navbar-brand js-scroll-trigger" href="#page-top">Vaxa Rikedom</a>-->
        <a href="#page-top" class="js-scroll-trigger"
          ><img class="logo" src="{% static 'img/logo.png' %}"
        /></a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services"
                >Services</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#anand"
                >Channel Partner</a
              >
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#associate"
                >Associate Program</a
              >
            </li> -->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% comment %} <div>
      <p class="heading">Join our trading platform <a class="js-scroll-trigger click" target="_blank" href="{% url 'user_register' %}">Click here</a>
      </p>
    </div>  {% endcomment %}

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase advisor">
              <strong>360° solutions to your<br />financial needs</strong>
            </h1>
            <hr />
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-5" style="color: #8dc640">
              We are a one stop destination for all your financial needs - from
              Advisory to Execution - everything is served under one roof
            </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"
              >Find Out More</a
            >
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">
              Financial planning now easier
            </h2>
            <hr class="light my-4" />
            <p class="text-faded mb-4">
              We are your personal financial advisors. At Greencurve Securities
              risk profiling is done for every client to understand their
              financial health. That's why we make sure and find the best
              financial product for your needs. Please fill the forms below.
            </p>
            <a
              class="btn btn-light btn-xl js-scroll-trigger"
              target="_blank"
              href="https://forms.gle/My7e3PMNEiSczy3TA"
              >Risk Profiling</a
            ><br /><br />
            <a
              class="btn btn-light btn-xl js-scroll-trigger"
              target="_blank"
              href="https://forms.gle/47HQbPiGC7NkJRF37"
              >Financial concerns</a
            >
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Services</h2>
            <hr class="my-4" />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
              <img
                width="250"
                height="180"
                src="{% static 'img/cgs.png' %}"
              /><br /><br /><br />
              <!--<i class="fas fa-4x fa-rupee-sign text-primary mb-3 sr-icon-1"></i>-->
              <h3 class="mb-3">Stock Broking</h3>
              <p class="text-muted mb-0">
                We are here to achieve your financial goals
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
              <img
                width="200"
                src="{% static 'img/mutual_funds.png' %}"
              /><br /><br />
              <!--<i class="fas fa-4x fa-users text-primary mb-3 sr-icon-2"></i>-->
              <h3 class="mb-3">Mutual Funds</h3>
              <p class="text-muted mb-0">Mutual funds sahi hai!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
              <img
                width="230"
                src="{% static 'img/insurance.jpg' %} "
              /><br /><br />
              <!--<i class="fas fa-4x fa-lock text-primary mb-3 sr-icon-3"></i>-->
              <h3 class="mb-3">Insurance</h3>
              <p class="text-muted mb-0">
                Insurance is a combination of caring, commitment and common
                sense
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
              <img width="220" src="{% static 'img/loans.png' %}" /><br /><br />
              <!--<i class="fas fa-4x fa-hand-holding-usd text-primary mb-3 sr-icon-4"></i>-->
              <h3 class="mb-3">Loans</h3>
              <p class="text-muted mb-0">
                Get your home, business, car & personal loan today!
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
              <img
                width="240"
                height="180"
                src="{% static 'img/trade_bull.png' %}"
              /><br /><br />
              <!--<i class="fas fa-4x fa-folder-open text-primary mb-3 sr-icon-4"></i>-->
              <h3 class="mb-3">Associate Program</h3>
              <p class="text-muted mb-0">
                Now you can also earn a passive income!
                <a class="js-scroll-trigger" href="#anand">Click here</a> to
                learn more.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box mt-5 mx-auto">
              <img
                width="240"
                src="{% static 'img/unlisted_stocks.png' %}"
              /><br /><br />
              <!--<i class="fas fa-4x fa-folder-open text-primary mb-3 sr-icon-4"></i>-->
              <h3 class="mb-3">Unlisted Shares</h3>
              <p class="text-muted mb-0">
                Now you can Get opportunity to buy share before IPOs!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-rathi text-white" id="anand">
      <div class="container text-center">
        <h2 class="mb-4"><em>Trade Bulls</em></h2>
        <hr class="light my-4" />
        <p>
          We are official channel partners of Trade Bulls. We provide the
          following products and services:
        </p>
        <br />

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h3>Products</h3>
            <br />
            <ul class="anand">
              <li>Equities</li>
              <li>Commodities</li>
              <li>Currencies</li>
              <li>IPO's</li>
              <li>Mutual Funds</li>
              <li>Bonds</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6">
            <h3 class="anand-services">Services</h3>
            <br />
            <ul class="anand">
              <li>Wealth Management Services</li>
              <li>Preferred Client Services</li>
              <li>Research</li>
              <li>Portfolio Management Services</li>
              <li>Real-time dealer support</li>
            </ul>
          </div>
        </div>
        <br />
        <a
          class="btn btn-light btn-xl sr-button"
          href="https://diy.tradebulls.in/?mobile=&sb=U01Z"
          target="_blank"
          >User Log In</a
        >
      </div>
    </section>

    <!-- <section class="bg-primary" id="associate">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <h2 class="section-heading text-white">Associate Program</h2>
            <hr class="light my-4" />

            <div class="row associate">
              <div class="col-lg-6 col-md-6">
                <h3>Commission basis</h3>
                <br />
                <p>
                  You now have the opportunity to receive handsome commission on
                  the basis of Marketing and Business Development!
                </p>
              </div>
              <div class="col-lg-6 col-md-6">
                <h3>Referral basis</h3>
                <br />
                <p>
                  Get fixed commission by recommending others to Greencurve
                  Securities. Make sure to refer your family, friends,
                  co-workers and relatives.
                </p>
              </div>
            </div>
            <br />

            <a
              class="btn btn-light btn-xl js-scroll-trigger"
              target="_blank"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfrMSrfs8hV8vuJO6y-sxTGjOisqHI9R1FmoqamIarD96nHqg/viewform?usp=pp_url"
              >Sign up today!</a
            ><br /><br />
            <a
              class="btn btn-light btn-xl js-scroll-trigger"
              target="_blank"
              href="Vaxa_Rikedom_Associate_Program.pdf"
              >Guidelines</a
            >
          </div>
        </div>
      </div>
    </section> -->

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4" />
            <p class="mb-5">
              Ready to start your financial journey with us? That's great! Fill
              out the form below and we will get back to you within two business
              days
            </p>
          </div>
        </div>

        <div class="container contact-form">
          <form
            method="POST"
            id="contact_form"
            action="https://formsubmit.co/46cf33acad8956caf6243d646dbb4cc1"
          >
            <div class="row">
              <input
                type="hidden"
                name="_next"
                value="http://www.greencurvesecurities.com/thanks.html"
              />
              <input type="text" name="_honey" style="display: none" />
              <input
                type="hidden"
                name="_subject"
                value="New Enquiry from Website contact form."
              />
              <input type="hidden" name="_template" value="table" />
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Name *"
                    value=""
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    maxlength="10"
                    name="number"
                    class="form-control"
                    placeholder="Contact Number *"
                    value=""
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    name="promo"
                    class="form-control"
                    placeholder="Promo Code"
                    value=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea
                    name="message"
                    class="form-control"
                    placeholder="Your Message *"
                    style="width: 100%; height: 200px"
                    required
                  ></textarea>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-xl js-scroll-trigger submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
        <br /><br />
        <div class="row linkColor">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p><strong>Mobile Numbers:</strong></p>
            <p>
              <b>Gaurav Sharma</b>:
              <a href="tel:+918542852626">+91 8542852626</a>
            </p>
            <p>
              <b>Shyamjeet Yadav</b>:
              <a href="tel:+918149939063">+91 8149939063</a>
            </p>
          </div>
          <div class="col-lg-4 text-center">
            <i class="fa fa-building fa-3x mb-3 m-top"></i>
            <p>
              <strong>Address</strong>:
              <br />
              <a
                href="https://www.google.com/maps/place/GreenCurve+Securities/@19.450717,72.8049763,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7a98f8b653c8b:0xb5d99c22e86c4561!8m2!3d19.4506952!4d72.8071482"
                target="_blank"
                >Shop No.4, Tulsi Tower, Agashi Road, Virar West, Palghar-401303
              </a>
            </p>
            <!--<p><strong>Vapi</strong>: <a href="https://goo.gl/maps/VLe9ardQ61z" target="_blank">Shop No. 7, Welcome Complex., Haria Park, Vapi - 396191</a></p>-->
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  width="182"
                  height="234"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q=GreenCurve%20Securities,%20Agashi%20Road,%20opposite%20Central%20Bank,%20Kamanwala%20Nagar,%20Virat%20Nagar,%20Virar%20West,%20Virar,%20Maharashtra&t=&z=17&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe
                ><br /><style>
                  .mapouter {
                    position: relative;
                    text-align: center;
                    height: 234px;
                    width: 243px;
                  }</style
                ><style>
                  .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 234px;
                    width: 243px;
                  }
                </style>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2 m-top"></i>
            <p><strong>Email:</strong></p>
            <p>
              <a href="mailto:gaurav.sharma@greencurvesecurities.com"
                >gaurav.sharma@greencurvesecurities.com</a
              >
              <a href="mailto:shyamjeet.yadav@greencurvesecurities.com"
                >shyamjeet.yadav@greencurvesecurities.com</a
              >
            </p>
            <!-- <a style="color: #fff !important" class="btn btn-primary btn-xl js-scroll-trigger" target="_blank" href="https://accounts.zoho.com/signin?servicename=VirtualOffice&signupurl=https://www.zoho.com//mail/zohomail-pricing.html?src=zmail-signup&serviceurl=https%3A%2F%2Fmail.zoho.com%2Fzm%2F">Employee Login</a> -->
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Plugin JavaScript -->

    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %}"></script>
  </body>
</html>
